# Configuración de Base de Datos
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=tu_usuario
DB_PASSWORD=tu_contraseña
DB_DATABASE=factupi_ce

# Configuración de JWT
JWT_SECRET=tu_secreto_jwt_seguro
JWT_EXPIRATION=1h

# Configuración de Entorno
NODE_ENV=development
PORT=4000

# URL del Frontend
FRONTEND_URL=http://localhost:3000
