# Configuración de Base de Datos
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=factupi
DB_PASSWORD=Fact_Pi_C3_2024!
DB_DATABASE=factupi_ce

# Configuración JWT
JWT_SECRET=FactuPiCe_S3cret_K3y_2024_Secure!
JWT_REFRESH_SECRET=FactuPiCe_R3fresh_S3cret_K3y_2024!
JWT_EXPIRATION=1h

# Configuración SMTP
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=tu_email@gmail.com
SMTP_PASS=tu_contraseña_de_aplicacion
SMTP_FROM=noreply@factupi.ce

# Configuración Firebase
FIREBASE_PROJECT_ID=tu_project_id
FIREBASE_CLIENT_EMAIL=tu_client_email
FIREBASE_PRIVATE_KEY=tu_private_key

# Configuraciones de Entorno
NODE_ENV=development
APP_PORT=3000
APP_URL=http://localhost:3000
